body {
    background-color: rgb(250, 249, 249) !important;
}

/* Fonts for paragraphs and headings */

p,
p a,
ol>li,
ul>li {
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
    line-height: 1.7
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding-top: 0.8em;
    padding-bottom: 1em;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.7;
    font-weight: 600;
}

h4:hover a {
    
    transition: 1s;
}
/* Navigation config */

nav.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    background-color: rgb(240, 239, 239);
}

/* Config only on web*/

@media (min-width: 1200px) {
    main.page-content {
        width: calc(100% - 36rem);
        margin-left: 24rem;
        transition: all 0.4s;
    }
}

@media (max-width: 1199px) {
    footer {
        display: none;
    }
}

#Layer_2:hover>g {
    opacity: 0.3;
}

#Layer_2:hover>g:hover {
    opacity: 1.0;
}

/* For abbreviation on mobile */

/* abbr[title]:after
{
   content: " (" attr(title) ")";
}

@media screen and (min-width: 1025px)
{
   abbr[title]
   {
      border-bottom: 1px dashed #ADADAD;
      cursor:help;
   }

   abbr[title]:after
   {
      content: "";
   }
} */